* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    background-color: bisque;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    text-align: center;
    /* opacity: 0; */
    /* position: relative; */
}



.himg {
    float: left;
    margin: 10px;
}

.licontainer {
    float: right;
    margin: 20px;
    margin-right: 80px;
}

.list {
    list-style: none;
}

.list li {
    display: inline-block;
    margin-right: 20px;
}

.list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.list a:hover {
    color: rgba(174, 6, 6, 0.8);
}



.product-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px;
    margin-top: 70px;
    text-align: center;
}



.product {
    flex: 1 1 200px; /* Adjust the width as needed */
    margin: 0px 10px 50px 0px;
}

.discounts {
    text-align: center;
    margin: 20px;
    font-size:x-large;
    width:90%;
    background-color: bisque;
    margin-left: 100px;
}

.product-img{
    background-color: antiquewhite;
}

.b{
    width: 100%;
    height: 20%;
    background-color: rgb(210, 133, 37);
    border: 0px;
    border-radius: 5%;
    color:white;
}

.b:hover{   
   background-color:rgba(233, 237, 14, 0.5);
   color:black;
}

.d{
    margin-top: 50px;
    
}

.d1{
    margin-left: 50px;
}

.d2{
    margin-right: 50px;
}

.himg{
    margin-top: 20px;
}

.i1 {
    margin-top: 10px;
    margin-left: 800px; 
    font-size: 24px;
    color: black;
}

#items_num{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(210, 133, 37);
    border-radius: 50%;
    margin-left: 1000px;
    margin-top: -5px;
}



    .visa-container{
    background-color: rgb(210, 133, 37);
    margin-bottom: 50px;
    position: absolute;
    margin-left: 950px;
    z-index: 4;
    margin-top: 50px;
    position: fixed;
    /* width: 100px;
    height: 100px; */
    }

    #btn {
        margin-left: 30%;
    } 

    




   